.Red{
	text-align: center;
color: #000000;
font-family:Verdana;
font-weight: bold;
 }
 body{
 background-image:url(../image/photo.jpg);
 background-repeat: no-repeat;
 }
 p{
	 color: #A71426;
 }
 .music{
 	margin-top: 650px;
 }
 .text{
 	background-color: #FFFFFF;
 	padding: 0 auto;
 	width: 600px;
 	text-align: justify;
 }
